body {
    font-size: 60px;
    line-height: 60px;
}

.pages {
    margin: 2em 2em;
}

.pages img {
    width: 100%;
    height: auto;
}

#page0 {
    margin: 0;
}

/*#page0 {*/
/*display: none;*/
/*}*/

.hidden-page {
    display: none;
    /*visibility: collapse;*/
}

/*#page1 {*/
/*visibility: visible;*/
/*}*/

/*body {*/
/**/
/*}*/

/*.content {*/
/*@include bg();*/
/*background-image: url("../img/main.jpg");*/
/*background-repeat: no-repeat;*/
/*background-size: contain;*/
/*min-width: 88%;*/
/*min-height: 100%;*/
/*position: relative;*/
/*}*/